@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/bebas/bebasneue-webfont.eot');
    src: url('fonts/bebas/bebasneue-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebas/bebasneue-webfont.woff') format('woff'),
         url('fonts/bebas/bebasneue-webfont.html') format('truetype'),
         url('fonts/bebas/bebasneue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PT Sans';
    src: url('fonts/ptsans/pts55f-webfont.eot');
    src: url('fonts/ptsans/pts55f-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('fonts/ptsans/pts55f-webfont.woff') format('woff'),
         url('fonts/ptsans/pts55f-webfont.html') format('truetype'),
         url('fonts/ptsans/pts55f-webfont.svg#PTSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


h1,h2,h3,h4,h5,h6 {
	font-family: 'BebasNeueRegular', Sans;
	font-weight: normal;
	color:#313131;
	margin:10px 0;
}
h1 {
	font-size:38px;
}
h2 {
	font-size:30px;
}
h3 {
	font-size:22px;
}
h4 {
	font-size:20px;
}
body {
	background:#fff url(../images/background.png) repeat;
	font-family: 'PT Sans', Sans-Serif;
	font-size:14px;
	margin:0;
	text-align:center;
}

.logo1 {
	/*background-image:url(lifelens.png); */
	width:100%;
}

.nav-bar{
width:40px;
height:100%;
position:fixed;
margin-left: 0px;
display:block;
z-index: 1;
}

#welcomeb {
	margin-top:20%;
	color:#fff;"
}
	
/* #avatar1 {
	background-image:url("http://www.ryerson.ca/content/ryerson/graduate/digitalmedia/studentbios/2014-2015/gul_muhammad/jcr%3acontent/center/uiwcolumns/conContainer_0_0/uiwimage.img.png/1413320290316.png");
} */
.Logo-place {

}

.eventname {
	
}

.timeline-window {
	height:700px;
}
